<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>

</head>
<center>
<body>
	<div><h1>User page</h1>
		<h1>Welcome ! <%= user.username%></h1> 		
	</div>

	
	<a href="/home/vp"> View Place</a> <br>
    <a href="/logout"> logout</a><br>
    <a href="/home/sp"> Search Place</a><br>
	
</body>
</center>
</html>