<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<title>Job Search</title>
	
</head>
<center>
<body>
	<div>
		<h1>Admin Panel</h1><br>
		<h1>Welcome Home! <%= user.username%></h1> 		
	</div>

	<a href="/home/alluser"> View Employees</a> <br>
	<a href="/logout"> logout</a><br>
	<a href="/home/adduser"> Register Employee</a><br>
	<a href="/home/search">search</a>
    <a href="/home/vpa">View Place</a>
	
</body>
</center>
</html>