<!DOCTYPE html>
<html>
<head>
	<title>Search Page</title>
	
</head>
<body>
	<div>
		<h1>User List</h1> 		
	</div>

	<a href="/home"> Back</a> |
	<a href="/logout"> logout</a><br>
	Search: <input type="text" name="search" id="search" ><br><hr>
	<div id="job">
		<table border="1">
           <thead> 
                <tr>
                <td>ID</td>
                <td>EmployeeName</td>
                <td>Username</td>
    
                <td>Password</td>
                <td>Type</td>
                <td>contact no</td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="6">
                    no data found
                </td>
            </tr>
            </tbody>
	</table>
</div> 
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/jquery_post.js"></script>

</body>
</html>