<!DOCTYPE html>
<html>
<head>
	<title>Search Page</title>
	
</head>
<center>
<body>
    
	<div>
		<h1>Place List</h1> 		
	</div>

	<a href="/home"> Back</a> |
	<a href="/logout"> logout</a><br>
	Search: <input type="text" name="sp" id="sp" ><br><hr>
	<div id="job">
		<table border="1">
           <thead> 
                <tr>
                
                <td>PlacdName</td>
                <td>Cost</td>
    
                <td>T_medium</td>
                
                </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="6">
                    no data found
                </td>
            </tr>
            </tbody>
	</table>
</div> 
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/jquery.js"></script>

</body>
</center>
</html>